:root {
    --fontcolor: black;
    --primary: green;
    --secondary: green;
}

h2 {
    margin: 0;
}

input {
    padding: 5px 86.5px;
    text-align: center;
}

button {
    padding: 5px 150px;
    background-color: white;

}

button:hover {
    background-color: white;
}

header {
    color: white;
    size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.extra {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: green;

}

aside {
    margin-right: 20px;
    color: white;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}

#topSide {
    border-bottom: 3px solid white;
}


.CityDet {
    display: inline-block;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}

.TextCont {
    text-align: center;
    color: white;
}

#CityName {
    margin: 0;
    padding-bottom: 10px;
    font-size: 35px;
    background-color: green;

}

.WeatherCards {
    float: right;
    display: inline-table;
    margin-right: 27px;
    width: 75%;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;

}

#fiveDayFor {
    color: white;
    text-align: center;
    padding: 20px;

}

.BorderCards {
    color: white;
    margin-top: 0px;
    text-align: center;
    justify-content: space-between;
    border: 1px solid;
    margin-left: 10px;
    width: 18%;
    float: left;
    flex-wrap: wrap;
    flex-direction: row;

}


.ClearHistory {
    margin-left: 10px;
    float: left;
}